@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

$font-family: 'Raleway', sans-serif;
